{% extends "main/base.html" %} {% block content %}

<div id="loginModal" class="hold-transition login-page" style="background: transparent;">
  <div class="register-box">
    <div class="login-logo">
      <div style="font-size: 40px;"><a><b>BURIAL GROUND</b></a></div>
      <div style="font-size: 32px;margin-top: -15px;"><a> MANAGEMENT SYSTEM</a></div>
    </div>
    <p id='resultsRegisterForm' class="center-box text-success animated fadeInUp">
      Email confirmed successfully!
      <br><br>
      In order to log into a burial ground site, please contact the site administrator and let them know your username. They will then be able to add you to their site. You will receive an email notification when you have been granted access to the site.
    </p>
  </div><!-- /.login-box -->
</div>

{% endblock %}

