{% extends "main/base.html" %}
{% load static %}

{% block content %}
<div class="login-box">

  <div class="login-logo">
    <img src="{% static 'images/logo/BGMS_logo_white.png' %}"/>
  </div>

  <div class="login-box-body">
    {% if validlink %} <!-- Check this token is still good. -->

      <form method="POST">
        {% csrf_token %}

        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}

            <div class="form-group">
              <p class="text-danger">
                {{ error|escape }}
              </p>
            </div>

            {% endfor %}
          {% endfor %}
        {% endif %}

        <div class="form-group">
            <ul class="errorlist" id="error_password1"></ul>
            <div class="has-feedback">
              <input id="id_password1" name="new_password1" type="password" class="form-control" placeholder="Enter New Password" autocomplete="off">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <ul class="errorlist" id="error_password2"></ul>
            <div class="has-feedback">
              <input id="id_password2" name="new_password2" type="password" class="form-control" placeholder="Confirm New Password" autocomplete="off">
              <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
              <button value="Reset" type="submit" class="btn btn-primary btn-lg btn-block ladda-button"  data-style="slide-right"><span class="ladda-label">Reset</span>
              </button>
            </div>
        </div>

      </form>

    {% else %} <!-- Link invalid: token likely expired. -->

      <!-- Point the user back to the password reset request page. -->
      <p class="text-danger">This password reset link is invalid, possibly because it has already been used, or because the link has timed out. Please <a href="{% url 'request_reset' %}">make another reset request</a>.</p>
    {% endif %}

  </div> <!-- login-box-body -->
</div> <!-- login-box -->

{% endblock %}