# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bgms/bgms/static/build
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

## Binaries generate by virtualenv
BGMS/bin/
BGMS/BGMS/bin/
BGMS/include/
include/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
BGMS/BGMS/settings.py
BGMS/.project
BGMS/.pydevproject

# node modules
node_modules/
BGMS/node_modules/
bgms-frontend/node_modules/
bgms-sw-generator/node_modules/
bgms-vue/node_modules/


# User guide pdf
BGMS/BGMS/static/docs/*.pdf

# VS Code
.vscode/
.idea/
.idea/*
*.idea/*

# Generated Service Worker
sw.js
BGMS/.settings/org.eclipse.wst.jsdt.ui.superType.container
BGMS/.settings/.jsdtscope
BGMS/.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
#package-lock.json
.project
BGMS/webpack-stats.json

# AG Exclusions, ignored/files/directories created as part of build
.vs/ #Visual Studio Code project files
.vs/VSWorkspaceState.json
.vs/*
.pylintrc
venv/*
node_modules/*
Scratch/*
logs/*
requirements.txt
desktop.ini
.DS_Store

# django-ag-packages-master(1)/* include ag packages to simplify install since they don't change much.
BGMS/set_vars.sh
BGMS/BGMS/static/css/iCheck/.DS_Store
BGMS/BGMS/static/libs/AdminLTE/v1.2/img/.DS_Store
BGMS/datamatching/static/datamatching/img/.DS_Store
development.py
BGMS/BGMS/settings/development.py
temp

#Ignore package files because they may differ between Windows & OSX 
package.json
#package-lock.json
django-ag-geometries/config/__init__.py
bgms-frontend/package.json
bgms-vue/package.json
bgms-frontend/package.json
bgms-vue/package.json
BGMS/BGMS/settings/defaults.py
BGMS/GDAL-3.1.4-cp36-cp36m-win_amd64.whl
django-ag-geometries/config/auth/__init__.py
django-ag-geometries/config/auth/backends.py
django-ag-geometries/config/compressor/__init__.py
django-ag-geometries/config/compressor/filters.py
django-ag-geometries/config/db/__init__.py
django-ag-geometries/config/db/backends/__init__.py
django-ag-geometries/config/db/backends/postgres/__init__.py
django-ag-geometries/config/db/backends/postgres/base.py
django-ag-geometries/config/db/backends/postgres/introspection.py
django-ag-geometries/config/security/views.py
django-ag-geometries/config/staging/__init__.py
django-ag-geometries/config/staging/csrfheader/__init__.py
django-ag-geometries/config/storages/__init__.py
django-ag-geometries/config/storages/cached_boto_storages.py
django-ag-geometries/config/storages/media_storages.py
django-ag-geometries/config/storages/staticS3storage.py
django-ag-geometries/geometries/__init__.py
django-ag-geometries/geometries/admin.py
django-ag-geometries/geometries/apps.py
django-ag-geometries/geometries/forms.py
django-ag-geometries/geometries/managers.py
django-ag-geometries/geometries/migrations/0001_initial.py
django-ag-geometries/geometries/migrations/0002_auto_20190409_1639.py
django-ag-geometries/geometries/migrations/0003_move_attribute_data.py
django-ag-geometries/geometries/migrations/0004_auto_20190416_1433.py
django-ag-geometries/geometries/migrations/0005_auto_20190502_1554.py
django-ag-geometries/geometries/migrations/0006_auto_20190515_1552.py
django-ag-geometries/geometries/migrations/0007_attribute.py
django-ag-geometries/geometries/migrations/0008_auto_20190520_0957.py
django-ag-geometries/geometries/migrations/0009_attribute_options.py
django-ag-geometries/geometries/migrations/0009_layercache.py
django-ag-geometries/geometries/migrations/0010_auto_20190719_1107.py
django-ag-geometries/geometries/migrations/__init__.py
django-ag-geometries/geometries/migrations_old/0001_squashed_0027_auto_20160218_1400.py
django-ag-geometries/geometries/migrations_old/0001_squashed_0038_layer_feature_code.py
django-ag-geometries/geometries/migrations_old/0028_auto_20160608_1434.py
django-ag-geometries/geometries/migrations_old/0029_auto_20160704_1253.py
django-ag-geometries/geometries/migrations_old/0030_auto_20160712_0818.py
django-ag-geometries/geometries/migrations_old/0031_auto_20160714_0945.py
django-ag-geometries/geometries/migrations_old/0032_auto_20160725_1429.py
django-ag-geometries/geometries/migrations_old/0033_auto_20160823_1110.py
django-ag-geometries/geometries/migrations_old/0034_auto_20170126_1546.py
django-ag-geometries/geometries/migrations_old/0035_layer_feature_code_idfk.py
django-ag-geometries/geometries/migrations_old/0036_auto_20170129_1703.py
django-ag-geometries/geometries/migrations_old/0037_remove_layer_feature_code.py
django-ag-geometries/geometries/migrations_old/0038_layer_feature_code.py
django-ag-geometries/geometries/migrations_old/__init__.py
django-ag-geometries/geometries/models.py
django-ag-geometries/geometries/serializers.py
django-ag-geometries/geometries/signals.py
django-ag-geometries/geometries/templates/geometries/upload-shape-file.html
django-ag-geometries/geometries/tests.py
django-ag-geometries/geometries/urls.py
django-ag-geometries/geometries/utils.py
django-ag-geometries/geometries/views.py
django-ag-geometries/geometriespublic/__init__.py
django-ag-geometries/geometriespublic/admin.py
django-ag-geometries/geometriespublic/migrations/0001_initial.py
django-ag-geometries/geometriespublic/migrations/0002_auto_20190409_1639.py
django-ag-geometries/geometriespublic/migrations/0003_auto_20190517_0904.py
django-ag-geometries/geometriespublic/migrations/0004_auto_20190517_1427.py
django-ag-geometries/geometriespublic/migrations/0005_add_field_types.py
django-ag-geometries/geometriespublic/migrations/0006_auto_20190520_0957.py
django-ag-geometries/geometriespublic/migrations/0007_auto_20190524_1718.py
django-ag-geometries/geometriespublic/migrations/0008_modify_field_types.py
django-ag-geometries/geometriespublic/migrations/0009_auto_20190528_1151.py
django-ag-geometries/geometriespublic/migrations/0010_auto_20190627_1215.py
django-ag-geometries/geometriespublic/migrations/0011_publicattribute_options.py
django-ag-geometries/geometriespublic/migrations/__init__.py
django-ag-geometries/geometriespublic/models.py
django-ag-geometries/geometriespublic/tests.py
django-ag-geometries/geometriespublic/validators.py
django-ag-geometries/geometriespublic/views.py
django-ag-geometries/LICENCE
django-ag-geometries/manage.py
django-ag-geometries/MANIFEST.in
django-ag-geometries/README.rst
django-ag-geometries/settings/defaults.py
django-ag-geometries/settings/production.py
django-ag-geometries/settings/staging.py
django-ag-geometries/setup.py
django-ag-survey/config/__init__.py
django-ag-survey/config/auth/__init__.py
django-ag-survey/config/auth/backends.py
django-ag-survey/config/compressor/__init__.py
django-ag-survey/config/compressor/filters.py
django-ag-survey/config/db/__init__.py
django-ag-survey/config/db/backends/__init__.py
django-ag-survey/config/db/backends/postgres/__init__.py
django-ag-survey/config/db/backends/postgres/base.py
django-ag-survey/config/db/backends/postgres/introspection.py
django-ag-survey/config/security/views.py
django-ag-survey/config/staging/__init__.py
django-ag-survey/config/staging/csrfheader/__init__.py
django-ag-survey/config/storages/__init__.py
django-ag-survey/config/storages/cached_boto_storages.py
django-ag-survey/config/storages/media_storages.py
django-ag-survey/config/storages/staticS3storage.py
django-ag-survey/LICENCE
django-ag-survey/manage.py
django-ag-survey/MANIFEST.in
django-ag-survey/README.rst
django-ag-survey/settings/defaults.py
django-ag-survey/settings/production.py
django-ag-survey/settings/staging.py
django-ag-survey/setup.py
django-ag-survey/survey/__init__.py
django-ag-survey/survey/admin.py
django-ag-survey/survey/app.py
django-ag-survey/survey/managers.py
django-ag-survey/survey/migrations/0001_initial.py
django-ag-survey/survey/migrations/0002_auto_20190520_1206.py
django-ag-survey/survey/migrations/0003_auto_20190523_1046.py
django-ag-survey/survey/migrations/0004_auto_20190626_1351.py
django-ag-survey/survey/migrations/0005_auto_20190627_0924.py
django-ag-survey/survey/migrations/0006_sitesurveytemplatefield_options.py
django-ag-survey/survey/migrations/0007_auto_20190710_1414.py
django-ag-survey/survey/migrations/__init__.py
django-ag-survey/survey/models.py
django-ag-survey/survey/serializers.py
django-ag-survey/survey/signals.py
django-ag-survey/survey/static/survey/js/admin.js
django-ag-survey/survey/tests.py
django-ag-survey/survey/urls.py
django-ag-survey/survey/utils.py
django-ag-survey/survey/views.py
django-ag-survey/surveypublic/__init__.py
django-ag-survey/surveypublic/admin.py
django-ag-survey/surveypublic/app.py
django-ag-survey/surveypublic/forms.py
django-ag-survey/surveypublic/migrations/0001_initial.py
django-ag-survey/surveypublic/migrations/0002_auto_20190520_1120.py
django-ag-survey/surveypublic/migrations/0003_add_default_field.py
django-ag-survey/surveypublic/migrations/0004_auto_20190626_1352.py
django-ag-survey/surveypublic/migrations/0005_auto_20190627_0924.py
django-ag-survey/surveypublic/migrations/0006_publicsurveytemplatefield_options.py
django-ag-survey/surveypublic/migrations/0007_auto_20190710_1414.py
django-ag-survey/surveypublic/migrations/__init__.py
django-ag-survey/surveypublic/models.py
django-ag-survey/surveypublic/signals.py
django-ag-survey/surveypublic/tests.py
django-ag-survey/surveypublic/validators.py
django-ag-survey/surveypublic/views.py
django_sslserver-0.22-py3-none-any.whl
GDAL-3.1.4-cp36-cp36m-win32.whl
GDAL-3.1.4-cp36-cp36m-win_amd64.whl
geodjango_setup.bat
package.json
pyvenv.cfg
Scripts/activate
Scripts/activate.bat
Scripts/Activate.ps1
Scripts/asadmin
Scripts/bundle_image
Scripts/cfadmin
Scripts/chardetect.exe
Scripts/cq
Scripts/cwutil
Scripts/deactivate.bat
Scripts/django-admin.exe
Scripts/django-admin.py
Scripts/dynamodb_dump
Scripts/dynamodb_load
Scripts/easy_install-3.6.exe
Scripts/easy_install.exe
Scripts/elbadmin
Scripts/epsg_tr.py
Scripts/epylint.exe
Scripts/esri2wkt.py
Scripts/fetch_file
Scripts/futurize-script.py
Scripts/futurize.exe
Scripts/gcps2vec.py
Scripts/gcps2wld.py
Scripts/gdal2tiles.py
Scripts/gdal2xyz.py
Scripts/gdal_auth.py
Scripts/gdal_calc.py
Scripts/gdal_edit.py
Scripts/gdal_fillnodata.py
Scripts/gdal_merge.py
Scripts/gdal_pansharpen.py
Scripts/gdal_polygonize.py
Scripts/gdal_proximity.py
Scripts/gdal_retile.py
Scripts/gdal_sieve.py
Scripts/gdalchksum.py
Scripts/gdalcompare.py
Scripts/gdalident.py
Scripts/gdalimport.py
Scripts/gdalmove.py
Scripts/glacier
Scripts/instance_events
Scripts/isort.exe
Scripts/jp.py
Scripts/kill_instance
Scripts/launch_instance
Scripts/list_instances
Scripts/lss3
Scripts/mkgraticule.py
Scripts/mturk
Scripts/ogrmerge.py
Scripts/pasteurize-script.py
Scripts/pasteurize.exe
Scripts/pct2rgb.py
Scripts/pep8.exe
Scripts/pip.exe
Scripts/pip3.6.exe
Scripts/pip3.exe
Scripts/pyami_sendmail
Scripts/pybabel.exe
Scripts/pylint.exe
Scripts/pyreverse.exe
Scripts/pysassc.exe
Scripts/python.exe
Scripts/python3.dll
Scripts/python36.dll
Scripts/pythonw.exe
Scripts/rgb2pct.py
Scripts/route53
Scripts/s3put
Scripts/sassc.exe
Scripts/sdbadmin
Scripts/sqlformat
Scripts/sqlite3.dll
Scripts/symilar.exe
Scripts/taskadmin
Scripts/tcl86t.dll
Scripts/tk86t.dll
Scripts/vcruntime140.dll
Scripts/virtualenv.exe
package.json
BGMS/BGMS/settings/defaults.py
bgms-vue/package.json
9.0.0
bgms-frontend/package.json
bgms-vue/package.json
BGMS/BGMS/settings/defaults.py
package.json
bgms-frontend/cross-env-master/src/bin/cross-env-shell.js
bgms-frontend/cross-env-master/src/variable.js
bgms-frontend/cross-env-master/src/is-windows.js
bgms-frontend/cross-env-master/src/index.js
bgms-frontend/cross-env-master/src/command.js
bgms-frontend/cross-env-master/src/bin/cross-env.js
bgms-frontend/cross-env-master/src/__tests__/variable.js
bgms-frontend/cross-env-master/src/__tests__/is-windows.js
bgms-frontend/cross-env-master/src/__tests__/index.js
bgms-frontend/cross-env-master/src/__tests__/command.js
bgms-frontend/cross-env-master/README.md
bgms-frontend/cross-env-master/other/ROADMAP.md
bgms-frontend/package.json
bgms-frontend/cross-env-master/other/EXAMPLES.md
bgms-frontend/cross-env-master/other/CODE_OF_CONDUCT.md
bgms-frontend/cross-env-master/LICENSE
bgms-frontend/cross-env-master/jest.config.js
bgms-frontend/cross-env-master/CONTRIBUTING.md
bgms-frontend/cross-env-master/CHANGELOG.md
bgms-frontend/cross-env-master/.prettierrc.js
bgms-frontend/cross-env-master/.prettierignore
bgms-frontend/cross-env-master/.npmrc
bgms-frontend/cross-env-master/.huskyrc.js
bgms-frontend/cross-env-master/.github/workflows/validate.yml
bgms-frontend/cross-env-master/.github/PULL_REQUEST_TEMPLATE.md
bgms-frontend/cross-env-master/.github/ISSUE_TEMPLATE.md
bgms-frontend/cross-env-master/.gitattributes
bgms-frontend/cross-env-master/.all-contributorsrc
*.sqlite
