////
/// Styles to define no margin, or no padding, or could be any combination
////

// zero margin left and right
.margin-zero{
  margin-left: 0px;
  margin-right: 0px;
}

.text-justify{
  text-align: justify;
  text-justify: inter-word;
}
