@import "styles/theme.css";

body{
    background-color: pink;
}

.agile__slide{
    padding-right: 4px;
}

.main{
	margin-bottom: 35px;
  
}
.agile__nav-button {
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    height: 100%;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
    width: 35px;
  }
  .agile__nav-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  .agile__nav-button--prev {
    left: 0;
  }
  .agile__nav-button--next {
    right: 0;
  }
  .agile__dots {
    bottom: 10px;
    flex-direction: column;
    right: 30px;
    position: absolute;
  }
  .agile__dot {
    margin: 5px 0;
  }
  .agile__dot button {
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
  }
  .agile__dot--current button, .agile__dot:hover button {
    background-color: #fff;
  }
  
  .slide {
    display: block;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }

.slide {
  display: block;
  
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

  .split-view-plus {
    margin-right: 20px;
  }

  .nav {
    align-items: flex-end;
  }