{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block userlinks %}

  {% if site_url %}
      <a href="{{ site_url }}">Return to burial ground</a> /
  {% endif %}
  {% if user.is_active and user.is_staff %}
      {% url 'django-admindocs-docroot' as docsroot %}
      {% if docsroot %}
          <a href="{{ docsroot }}">Documentation</a> /
      {% endif %}
  {% endif %}
  {% if user.has_usable_password %}
  <a href="{% url 'admin:password_change' %}">Change password</a> /
  {% endif %}
  <a href="{% url 'logout' %}">Log out</a>
{% endblock %}

{% block content %}
<h1>Mass Upload Photo Tool</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="module aligned">

        <div class="form-row">
          <label class="required" for="{{ form.csv_file.id_for_label }}">Select CSV file:</label>
          {{ form.csv_file }}
          {% if form.csv_file.help_text %}
            <p class="help">{{ form.csv_file.help_text|safe }}</p>
          {% endif %}
        </div>

        <div class="form-row">
          <div>
               <label class="required" for="id_photosFiless">Select Photos:</label>
               <input id="id_photosFiless" type="file" name="photosFiles" accept="image/*" multiple>
               <p class="help">File type accepted: .png, .jpeg or .jpg</p>
          </div>
        </div>
        <div class="submit-row">
          <div><input type="submit" name="upload" value="Process files"></div>
        </div>

    </fieldset>
</form>

{% endblock %}
