@import "styles/theme.css";

.fill-button {
    background-color: $main-color;
    border-radius: 5px;
    display: inline-block;
    font-color: $main-font-color;
    min-width: 100px;
    padding: 3px 5px;

    &:focus { outline: none; }
}
