////
/// form elements
////


$border-color-read-only: rgba(0,0,0,0.1);

.burial-details-form input[type="text"], .burial-details-form select{
  height: 25px;
  background-color: rgba(238, 89, 42,0.2);
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.burial-details-form textarea{
  max-height: 55px;
}
.burial-details-form textarea{
  background-color: rgba(238, 89, 42,0.2)!important;
  display: inline-block;
  flex: 1;
  margin-bottom:5px!important;
}

.read-only-form input[type="text"],
.read-only-form textarea{
    border: none;
    background-color: transparent!important;
    border-bottom: 1px solid $border-color-read-only!important;
}

.form-control:focus{
  border-color: rgba(240, 99, 46, 1)!important;
}

.read-only-form .form-control:focus{
  border-color: $border-color-read-only!important;
}

//Text area empty read-only
.empty-textarea{
    border-bottom: 1px solid $border-color-read-only!important;
    height: 25px!important;
    overflow: hidden;
}

.select-narrow{
    height: 25px;
    padding: 0px;
}

.sidebar-form {
  margin: 0px;
  border: 0px;
  margin-bottom: 10px;
}
.sidebar-form input[type="text"],
.sidebar-form .btn {
  box-shadow: none;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  height: 25px;
}
.sidebar-form input[type="text"]:focus,
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}