#home, #bereavement-home {
  #welcome {
    font-size: 50px;
    text-align: center;
  }

  .v-list {
    h2 {
      margin: auto;
      text-align: center!important;
    }
  }

  li {
    height: 50px;
  }

  .nav-link h2:hover {
    font-size: 2.15rem;
  }

  h2 {
    color: #ee592a;
  }

  .nav-link h4:hover {
    font-size: 1.6rem;
  }
}