<div ng-if="!row.entity.editable" >
	<div ng-if="col.colDef.name.indexOf('name')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___title')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___title')}}</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___first_names')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___first_names')}}</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___last_name')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___last_name')}}</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___other_names')"><br/> <span class="subtitleClass">Nicknames:</span> {{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___other_names')}}</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___birth_name')"><br/> <span class="subtitleClass">Birth Name:</span> {{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___birth_name')}}</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('date')!=-1">
		<div ng-if="col.colDef.modelname.indexOf('person')!=-1">
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_day')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_day')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_month')">{{row.entity.getFieldMonth(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_month')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_year')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'person___impossible_date_year')}}</span>
		</div>
		<div ng-if="col.colDef.modelname.indexOf('death')!=-1">
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_day')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_day')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_month')">{{row.entity.getFieldMonth(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_month')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_year')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___impossible_date_year')}}</span>
		</div>
		<div ng-if="col.colDef.modelname.indexOf('burial')!=-1">
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_day')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_day')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_month')">{{row.entity.getFieldMonth(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_month')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_year')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_date_year')}}</span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_day')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_day')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_month')">{{row.entity.getFieldMonth(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_month')}} </span>
			<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_year')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'burial___impossible_cremation_date_year')}}</span>
		</div>
	</div>
	<div ng-if="col.colDef.name.indexOf('age')!=-1">
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_years')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_years')}} year<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_years')!=1">s</span></span>
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_months')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_months')}} month<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_weeks')!=1">s</span></span>
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_weeks')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_weeks')}} week<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_months')!=1">s</span></span>
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_days')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_days')}} day<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_days')!=1">s</span></span>
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_hours')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_hours')}} hour<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_hours')!=1">s</span></span>
		<span ng-if="row.entity.doesFieldExistOrHasZeroValue(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_minutes')">{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_minutes')}} minute<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'death___age_minutes')!=1">s</span></span>
	</div>
	<div ng-if="col.colDef.name.indexOf('date')==-1 && col.colDef.name.indexOf('name')==-1 && 
				col.colDef.name.indexOf('age')==-1">
		<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname)[subcolumn.name]!=''" ng-repeat="subcolumn in col.colDef.subcolumns">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, subcolumn.name)}} 
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('address')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'first_line')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'first_line')}} <br/>
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'second_line')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'second_line')}} <br/>
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'town')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'town')}} 
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'county')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'county')}} 
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'postcode')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'postcode')}} 
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'country')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'country')}} 
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('event')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'name')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'name')}}  <br/>
		</span>
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'description')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'description')}}
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('profession')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'profession')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'profession')}}
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('religion')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'religion')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'religion')}}
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('parish')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'parish')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'parish')}}
		</span>
	</div>
	<div ng-if="col.colDef.fieldname.indexOf('graveref')!=-1">
		<span ng-if="row.entity.doesFieldExist(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'grave_number')">
			{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, 'grave_number')}}
		</span>
	</div>
	<div ng-if="col.colDef.name.indexOf('burial_officials')!=-1">
		<div ng-repeat="official in row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname)">
			<div ng-if="official['burial_official_type']===col.colDef.throughField">
				<span ng-if="official['title']!=''">
					{{official['title']}} 
				</span>
				<span ng-if="official['first_names']!=''">
					{{official['first_names']}} 
				</span>
				<span ng-if="official['last_name']!=''">
					{{official['last_name']}} 
				</span>
				<label ng-if="official['title']!='' || official['first_names']!='' || official['last_name']!=''" class="btn btn-bgms btn-form btn-table ladda-button" aria-label="Remove" title="Remove">
					<input type="checkbox" name="add_more" autocomplete="off" ng-click="row.entity.removeManyToManyField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname, col.colDef.csrfmiddlewaretoken, $index)" checked hidden>
					<span class="icon-Delete-Filled" style="color: red;"></span>
				</label><br/>
			</div>
		</div>
	</div>
	<div ng-if="col.colDef.name.indexOf('requires_investigation') != -1">
		<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname) === true">Yes</span>
		<span ng-if="row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname) === false">No</span>
	</div>
	<div ng-if="!col.colDef.subcolumns && col.colDef.name.indexOf('address')==-1 && 
				col.colDef.name.indexOf('event')==-1 && col.colDef.name.indexOf('event')==-1 && 
				col.colDef.name.indexOf('profession')==-1 && col.colDef.name.indexOf('religion')==-1 &&
				col.colDef.name.indexOf('parish')==-1 && col.colDef.name.indexOf('burial_officials')==-1 && 
				col.colDef.name.indexOf('requires_investigation')==-1 && 
				col.colDef.fieldname.indexOf('graveref')==-1">
		{{row.entity.getField(col.colDef.type, col.colDef.modelname, col.colDef.fieldname)}}
	</div>
</div>
<div ng-if="row.entity.editable">
	<div style="float: left;margin: 2px;" ng-repeat="subcolumn in col.colDef.subcolumns | orderBy: ['position']">
		<bgms-column-field properties="subcolumn"></bgms-column-field>
	</div>
	<bgms-column-field ng-if="!col.colDef.subcolumns" properties="col.colDef"></bgms-column-field>
</div>