<div>
	<div class="row">
		<h2 class="col-md-4">Burial Record Status</h2>
	</div>
	<div class="row">
		<div class="col-md-4">
			Number of burial records finished: {{imageStatus.summary.done}} <br>
			Number of burial records remaining: {{imageStatus.summary.remaining}}<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ondragstart="return false;" ondrop="return false;" ondragenter="return false;" ondragleave="return false;" ondragover="return false;" ondrag="return false;" >
			<div class="imageHistoryTable" ondragstart="return false;" ondrop="return false;" ondragenter="return false;" ondragleave="return false;" ondragover="return false;" ondrag="return false;" >
				<div ui-grid="imageStatus.historyTable" ondragenter="return false;" ondragleave="return false;" ondragover="return false;" ondrag="return false;" class="grid" ui-grid-auto-resize ui-grid-resize-columns></div>
			</div>
		</div>
	</div>
</div>