<div>
  
	<div class="row">
		<h2 class="col-md-4">User Activity Log</h2>
	</div>
  
	<div class="row">
		<div class="col-md-12" ondragstart="return false;" ondrop="return false;" ondragenter="return false;" ondragleave="return false;" ondragover="return false;" ondrag="return false;" >
			<div ui-grid="userActivity.table" ondragenter="return false;" ondragleave="return false;" ondragover="return false;" ondrag="return false;" class="grid" ui-grid-auto-resize ui-grid-resize-columns></div>
		</div>
	</div>
</div>