@import "styles/theme.css";


.status-tabs {
    @apply mt-7;
    background-color: $main-color;

    .status-content {
        @apply mx-2 mb-2 p-5;
        background-color: white;
    }

    .option-icons {
        font-size: 24px;
        margin: 0 5px;
        padding: 10px 15px;

        i {
            @apply mx-3;

            cursor: pointer;
        }
    }

    .tab-group {
        @apply flex mt-4;

        margin-left: 8px;
    }

    .tabs {
        @apply justify-between;
    }

    .tab-wrapper {
        @apply flex items-center;
        background-color: $second-color;
        border-radius: 7px 7px 0 0;
        cursor: pointer;
        font-weight: bold;

        & > * {
            padding: 0 !important;
        }
        
        &.active {
            background-color: white;
            border-color: white;
            color: $third-color;
        }
    }
}
